.background {
  background-image: url('https://cdn.pixabay.com/photo/2021/07/11/17/04/gamepad-6404354_1280.jpg');
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  
  position: relative;
}

.welcome {
  font-size: 48px;
  text-align: center;
  margin-top: 5vh;
  color: white;

  position: relative;
  z-index: 2;
}

.border {
  border-radius: 8px;
  height: 25vh;
  position: relative;
  z-index: 2;
}
.font {
  color: rgb(0, 0, 0);
  text-decoration: none;

  position: relative;
  z-index: 2;
}
.fontTitle {
  color: rgb(255, 255, 255);

  position: relative;
  z-index: 2;
}

.button {
  margin-top: 55vh;
  padding: 8px 16px;
  height: 60px;
  width: 100px;
  font-size: 16px;
  background-color: #4c8bf5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3a6bc9;
}
