.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchBar form {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchBar input {
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.searchBar button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4c8bf5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchBar button:hover {
  background-color: #3a6bc9;
}
